
<section class="hero has-text-centered {{include.background}}">
    <div class="">
        <div class="container">
            <div class="image-gallery col col-md-10" id="my-gallery-{{include.folder}}">
                {% for file in site.static_files %}
                    {% if file.path contains include.folder %}
                        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or file.extname == '.png' or file.extname == '.PNG' %}
                            {% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
                            <a href="{{ site.url}}{{ file.path | relative_url }}"><img src="{{ site.url}}{{ file.path | relative_url }}" /></a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.9.0/lightgallery.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.9.0/plugins/thumbnail/lg-thumbnail.min.js"></script>

<link href=" https://cdn.jsdelivr.net/npm/lightgallery@2.9.0/css/lightgallery-bundle.min.css " rel="stylesheet">
<script type="text/javascript">
    lightGallery(document.getElementById('my-gallery-{{include.folder}}'), {
        thumbnail: true,
        allowMediaOverlap: true,
        addClass: 'lg-custom-thumbnails',
         appendThumbnailsTo: '.lg-outer',
    });
</script>

<style type="text/css">
    .image-gallery{
      display: flex !important;
      flex-wrap: wrap;
    }
    .image-gallery a{
      height: 40vh;
      flex-grow: 1;
    }

    .image-gallery img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }


    @media screen and (max-width: 600px) {
      .image-gallery a{
          height: 20vh !important;
        }
    }
</style>
