<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">

        <!-- logo or branding image on left side -->
        <div class="navbar-brand">
            <a class="navbar-item"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                <!-- <strong>{{site.title}}</strong> -->
                <img src="{{site.url}}{{site.baseurl}}{{site.logo}}"/>
                <span style="padding:5px">COMPAGNIE YONGWE</span>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
        <div class="navbar-menu has-background-black" id="navbar-menu">
            <!-- navbar items | left side -->
            <!-- <div class="navbar-start">
            </div> -->
            <!-- navbar items | right side -->
            <div class="navbar-end">
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/artistes">QUI SOMMES-NOUS?</a>
                <div class="navbar-item has-dropdown is-hoverable"> 
                    <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#creations">CRÉATIONS</a>
                    <div class="navbar-dropdown has-background-black is-left">
                        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/dilo">Dilo</a>
                        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/l-oreille-voit-l-oeil-ecoute">L'oreille voit, l'oeil écoute</a>
                        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/back-danbwa">Back Danbwa</a>
                    </div>
                </div>  
                <div class="navbar-item has-dropdown is-hoverable"> 
                    <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#action-culturelle">ACTION CULTURELLE</a>
                    <div class="navbar-dropdown has-background-black is-left">
                        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/folklore-imaginaire">Folklore Imaginaire</a>
                        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/creation-en-pays-d-auge">Création en pays d'Auge<a class="navbar-item" href="{{site.url}}{{site.baseurl}}/paroles-de-paysages">Paroles de paysages</a>
                    </div>

                </div>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/calendrier">CALENDRIER</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/pros">PROS</a>
                <a class="navbar-item" href="#contact">CONTACT</a>
            </div>

        </div>
    </div>
</nav>
<!-- Bulma Navbar JS -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
