

<section class="hero is-fullheight" style="display: block; position: relative; padding: 20px; background-image: url({{include.image}}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="">
        <div class="container" style="position: absolute; top: {{include.top}};bottom: {{include.bottom}};left: {{include.left}};right: {{include.right}}; max-width: {{include.width}};">
            <div class="has-{{include.text-align}}">
            	<p style="color:{{include.text-color}}; font-size: {{include.font-size}};font-family: {{include.font}}">{{include.text}}</p>
            </div>
        </div>
    </div>
</section>
