@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";@import"https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css";html,body{font-family:"Poppins",sans-serif;scroll-behavior:smooth !important;transition:all .25s ease}
::-webkit-scrollbar{width:.5vmax !important}
::-webkit-scrollbar-track{background:#fff !important}
::-webkit-scrollbar-thumb{background:#363636 !important}
::-webkit-scrollbar-thumb:hover{background:#000 !important}
::placeholder{font-family:"Poppins",sans-serif}
#navbar .navbar-burger span:nth-child(2){left:50%;width:8px}
.is-active{font-weight:bold}
.columns .button{margin:.5rem !important}
hr{margin:1rem auto;height:1px}
.column{margin:auto .5rem;padding:.5rem}
.searchResult a .title{text-decoration:underline}
#navbar{opacity:.95}
.is-active{font-weight:600}
.navbar-dropdown{border:none;right:0;left:auto}
a.navbar-item{color:#fff !important}
a.navbar-item:hover,.navbar-link:hover{background-color:rgba(255,255,255,.25) !important;color:#fff !important}
a.navbar-item.is-active{background-color:rgba(255,255,255,.25) !important;color:#fff !important}
a.navbar-item.is-active:hover{background-color:rgba(255,255,255,.25) !important;color:gray}
.navbar-link:not(.is-arrowless)::after{border-color:gray}

#hero::before {
	background-image: none;
  background: linear-gradient(0deg, rgba(8, 1, 1, 0) 0%, rgb(0, 0, 0) 100%) !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  position: absolute !important;
  opacity: 0.75 !important;
  content: "" !important;
} 

#hero {
  background-image: url("/uploads/accueil/vaches.jpg");
  background-image: url("/uploads/accueil/plateau-bleu.jpg");
  background-image: url("/uploads/accueil/dilo-portraits.jpg");
  background-image: url("/uploads/accueil/dilo-bleu.jpg");
  background-image: url("/uploads/accueil/dilo-bleu-crop.png");
  background-image: url("/uploads/accueil/dilo-portraits-crop.png");
  background-image: url("/uploads/accueil/plateau-bleu-crop.png");
  background-image: url("/uploads/dome-lune-light.png");
  opacity: 1 !important;
  	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-color: black;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;

        transition: background-image 1s;
} 


.hero-body {
	margin-top: 30px;
	align-items: normal!important;
}


#hero img {
	max-width: 200px;
}
.social-logos img {
  height: 50px;
}

section .container {padding-bottom:30px;}


.homepage .title{padding-top:0px !important;}
.title{padding-top: 15%;}
.title{margin:auto .75rem !important}
.subtitle{letter-spacing:.25rem}
#about .image{max-width:20vmax;margin:auto}
#about .image img{border:.25rem dotted #000}
#about a{min-width:25vmax;margin:.5rem}
#contact #contact-button{margin:.5rem auto;display:flex;justify-content:center}
#contact svg{transition:all .15s ease-in-out;margin:auto .75vmax}
#contact svg:hover{transform:scale(1.1);filter:opacity(0.75)}
#contact hr{background-color:#000}
#footer #backtotop{transition:all .25s ease;width:10rem;padding:.25rem;margin:auto auto 1rem auto}
#footer #backtotop:hover{transform:scale(1.05)}
#footer .container{margin:auto;padding:1.5rem;line-height:1.25}
#footer .container .column{display:grid;justify-content:center}
#footer .container .column li{list-style:circle;list-style-position:outside}
#footer .container .column a{color:#7a7a7a}
#footer .container .column a:hover{color:#fff}
#footer .container .column figure{border:1.5px solid #fff;border-radius:50rem;justify-content:center;margin:auto;transition:all .25s ease}
#footer .container .column figure:hover{transform:scale(1.15)}
#footer #credits{padding:.75rem;font-size:.85rem}
#footer #credits a{text-decoration:underline;font-weight:bolder;color:#fff}
#footer a{width: 500px }
#footer h5{padding-bottom:15px }
#footer a div.content{line-height: 0.6em }
#footer-infos {background-color: #0a0a0a !important}
#projets .columns .column{border-radius:.5rem}
#projets .columns .column .image{background-position:center;background-repeat:no-repeat;background-size:cover}
#projets #project-card{-webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0);box-shadow:0px 0px 15px 0px rgba(0,0,0,0);transform:scale(0.95);transition:all .5s ease;margin-bottom:.5rem !important;display:inline-table;}
#projets #project-card:hover{transform:scale(0.975)}
#projets .card{transition:all .25s ease}
#projets .card:hover{background-color:rgba(0,0,0,.9) !important}
#page-section .content ul,#page-section .content ol,#page-section .content blockquote{display:inline-block}
.projets .columns .column{border-radius:.5rem}
.projets .image{background-position:center;background-repeat:no-repeat;background-size:cover;}
.content .projets .image {margin:0px !important;}
.projets #project-card{-webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0);box-shadow:0px 0px 15px 0px rgba(0,0,0,0);transform:scale(0.95);transition:all .5s ease;margin-bottom:.5rem !important;display:inline-table;}
.projets #project-card:hover{transform:scale(0.975)}
.projets .card{transition:all .25s ease}
.projets .card:hover{background-color:rgba(0,0,0,.9) !important}
.projets { padding-top: 30px }
h2{ font-family: 'Caveat', cursive; }
/*.hero-body .container {
bottom: 50px
}*/
img[alt^="max-500px"]{max-width:100%; width: 500px;}
/* "resp" h1 sizes */
h1 { font-size:3rem}
@media (max-width: 500px) {
	#hero img {
		max-width: 100px;
	}
	h1 {font-size: 20px !important;} 	
	h3 {font-size: 15px !important;} 	
	.hero-body {
		margin-top: 30px;
	}

}


@media screen and (max-width: 1023px) {
  .column.is-three-quarters-touch {
    flex:
none;
    width: 100%;
  }
  .section {padding: 2px!important}
}
@media screen and (min-width: 1408px) {
  .column.is-one-fifth-fullhd {
    flex:
none;
    width: 32%;
  }
}
